django-debug-toolbar==4.3.0
django-debug-toolbar-template-profiler==1.0.2
django-extensions==3.2.3


flake8==7.1.0
mccabe==0.7.0
pyflakes==3.2.0
pycodestyle==2.12.0
isort==5.13.2
pylint==3.2.2
astroid==3.2.2
lazy-object-proxy==1.10.0


ipython==8.26.0
jedi==0.19.1
parso==0.8.4
prompt-toolkit==3.0.47
pickleshare==0.7.5


memory-profiler==0.61.0
mem-top==0.1.7
Pympler==1.0.1
objgraph==3.5.0
guppy3==3.1.2


numpy==1.26.4


Flask==3.0.3
itsdangerous==2.1.2
Click==8.1.7
Werkzeug==3.0.3
colorama==0.4.6
beautifulsoup4==4.12.3
bs4==0.0.2
soupsieve==2.5
defusedxml==0.7.1
dparse==0.5.1
dynaconf==3.2.4
emoji==2.12.1
entrypoints==0.4
GitPython==3.1.43
gitdb==4.0.11
smmap==5.0.1
graphviz==0.20.1
httplib2==0.22.0
jsonpickle==3.0.4
packaging==24.0
pycparser==2.22
cryptography==42.0.8
cffi==1.16.0
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydotplus==2.0.2
Pygments==2.18.0
PyJWT==2.8.0
pymongo==4.7.1
pyparsing==3.1.2
pyTelegramBotAPI==4.17.0
python-box==7.2.1
python-social-auth==0.3.6
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
rabbitmq==0.2.0
recordclass==0.22.0
requests-oauthlib==2.0.0
safety==3.1.1
scoring==0.1.1
six==1.16.0
snowballstemmer==2.2.0


package-name==0.1
pbr==6.0.0
pep8==1.7.1
